name: Build DigiPayattu APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        git zip unzip openjdk-17-jdk \
        libffi-dev libssl-dev \
        build-essential

    - name: Install Buildozer & Cython
      run: |
        pip install --upgrade pip setuptools wheel
        pip install cython buildozer

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: DigiPayattu-APK
        path: bin/*.apk
